* {
  margin: 0;
  padding: 0;
  font-family: "CTV Sans", sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: "CTV Sans";
  src: url("/fonts/CTVSans-Regular.woff2") format("woff2"),
    url("/fonts/CTVSans-Regular.woff") format("woff"),
    url("/fonts/CTVSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CTV Sans";
  src: url("/fonts/CTVSans-Bold.woff2") format("woff2"),
    url("/fonts/CTVSans-Bold.woff") format("woff"),
    url("/fonts/CTVSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CTV Sans";
  src: url("/fonts/CTVSans-Black.woff2") format("woff2"),
    url("/fonts/CTVSans-Black.woff") format("woff"),
    url("/fonts/CTVSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.top_frame {
  border-bottom: 1px solid #dcdcdc;
}
.all_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
.header_container {
  font-weight: 700 !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.header_container::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 700vw;
  top: 95px;
  left: -300px;
  border-bottom: 1px solid #dcdcdc;
}
.header_article {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.header_logo {
  margin-top: 20px;
  width: 150px;
  vertical-align: middle;
}

.secondary_nav {
  display: flex;
  margin-right: 25px;
  margin-top: 24px;
  font-size: 14px;
}
.secondary_nav_lock {
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.secondary_nav_lock img {
  align-self: center;
  justify-self: center;
  width: 8px;
}
.secondary_nav_live {
  color: #eb0000;
  font-weight: 700;
  text-decoration: none;
}
.secondary_nav_live:hover {
  text-decoration: underline;
}
.secondary_nav_channelName {
  text-decoration: none;
  color: #2c2c2c;
}
.secondary_nav_channelName:hover {
  text-decoration: underline;
}
.secondary_nav_live::after {
  content: "|";
  font-weight: 400;
  padding-left: 4px;
  padding-right: 4px;
}
.secondary_nav_box_links {
  margin-left: 20px;
  display: flex;
  align-items: start;
}
.secondary_nav_box_links_2 {
  margin-left: 4px;
  width: 12px;
}

.nav_box {
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav_item {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  border: none;
  padding: 16px 10px;
  background-color: transparent;
}
.nav_item::before {
  z-index: 10;
  background-color: #2c2c2c;
  bottom: -6px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out;
}
.nav_item:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.search_bar {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  right: 0;
  top: 48px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 220px;
  height: 40px;
}
.search_bar_input {
  font-size: 16px;
  padding-left: 9px;
  border: none;
  width: 220px;
  height: 40px;
}
.search_bar_img {
  padding: 0 6px;
}

.search_box {
  font-family: sans-serif !important;
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  overflow: hidden;
  right: 10px;
  top: 48px;
  position: absolute;
}

.search_box input {
  font-size: 16px !important;
  flex: 1;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  height: 100%;
}

.search_box button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_box button img {
  width: 17px;
  height: 17px;
  margin-left: -28px;
}

.search_box:focus-within {
  border: 2px solid #007aff; 
}
.burger {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 17px;
  cursor: pointer;
  display: none;
}
